* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.awalan {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(48, 47, 47, 0.603), rgba(255, 255, 255, 0)), url(foto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50PX
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 8% 0 8%;
}
.logo {
    color: rgba(173, 23, 23, 0.945);
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span {
    color: rgb(14, 12, 12);
}
nav ul li {
    display: block;
    background-color: rgb(199, 197, 197);
    border-radius: 100px;
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li :hover {
    background: rgb(199, 197, 197);
    font-weight: bold;
    padding: 2px 10px;
    border-radius: 30px;
    transition: transform .1s;
}
nav ul li a {
    text-decoration: none;
    color: rgb(12, 12, 11);
    font-weight: bold;
}
nav ul li a:hover {
    color: rgb(36, 36, 165);
    transition: 1s;
    transform: scale(1.2);
}
.btn {
    background: rgb(199, 197, 197);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 2px 10px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover {
    transform: scale(1.2);
}
.content {
    position: absolute;
    top: 30%;
    left: 8%;
    transform: translatey(-5);
}
h2 {
    color: brown;
}

h1 {
    color: rgb(9, 5, 73);
    font-size: 80px;
}
h3 {
    color: brown;
    font-size: 25px;
    padding-bottom: 50px;
}
.news form {
    width: 380px;
    max-width: 100%;
    position: relative;
}
.news form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #021e53;
    outline: none;
    border-radius: 30px;
}
.news form input:last-child {
    position: absolute;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #5873a1;
    box-shadow: 0px 0px rgb(241, 238, 238), 0px 0px 15px rgb(128, 117, 172);
    top: 6px;
    right: 6px;
}